{% extends 'user/base.html' %}
{% block main %}
    {% load static%}

    
    {% include 'user/navbar.html' %}
    <div class="container" style="position:relative;top:200px;left:40px;">
        <h4>Plant greener tomorrow, today.</h4>

        <p>Are you looking to register your plant nursery on a trusted and reputable website? Look no further than NurseryScout. Our website is dedicated to helping plant nurseries connect with customers and sell their plants online. By registering your nursery on our site, you will be able to reach a wider audience and sell your plants more easily. Plus, our attractive and user-friendly design will make it easy for customers to find and purchase your plants. So what are you waiting for? Register your plant nursery on NurseryScout today!</p>
        <p>Looking for a place to buy high-quality plants? Look no further than our nursery! We have a wide variety of plants that are sure to meet your needs. Whether you are looking for a specific plant or just wanting to browse, our knowledgeable staff is always available to help. We also offer delivery and planting services, so you can rest assured that your plants will arrive safely and be properly taken care of</p>
        <p>
            1. A beautiful image of a field of flowers in full bloom.

            2. A beautiful image of a rose in full bloom.
            
            3. A beautiful image of a lily in full bloom.
            
            4. A beautiful image of a daisy in full bloom.
            
            5. A beautiful image of a sunflower in full bloom.
        </p>
        <p></p>
    </div>
{% endblock main %}